<h1>New tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div>
  <button class="btn btn-light d-flex align-items-center">
      <%= link_to "Back to tweets", tweets_path,  class: "nav-link" %>
  </button>
  
</div>
