<nav class="navbar bg-body-tertiary ">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Twitter</span>
    </div>
    <button class="btn btn-light d-flex align-items-center">
        <%= link_to "tweetiar", new_tweet_path,  class: "nav-link"  %>
    </button>
</nav>